*, *::before, *::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 100%;
  background: white;
  background: -webkit-linear-gradient(right, #00c6ff, #0072ff); /* Safari */
  background: -o-linear-gradient(right, #00c6ff, #0072ff); /* Opera */
  background: linear-gradient(to left, #00c6ff, #0072ff); /* standard syntax */
}

.main-container {
  background: white;
  width: 225px;
}

.messages-container {
  background: #b1b9b8;
}
