<div class="main-container">
  <div class="logo">
    <h1>Bloc Chat</h1>
  </div>

  <div class="room-list">
    <h3 class="chat-rooms"
    ng-repeat="room in home.chatRooms"
    ng-click="home.setCurrentRoom(room);">
      {{ room.name }}
    </h3>
  </div>

  <div class="messages-container">
    <h3>Messages:</h3>
    <p ng-repeat="message in home.messages">
      {{ message.content }}
    </p>
  </div>

  <div class="new-chat-room">
    <input type="text" name="name" placeholder="New chat room" ng-model="home.name"></input>
    <button type="button" ng-click="home.addRoom()">Create Room</button>
  </div>

  <div class="new-message">
    <input type="text" name="name" placeholder="New message" ng-model="home.content"></input>
    <button type="button" ng-click="home.newMessage(home.currentRoom)">Send</button>
  </div>

</div>
