<div class="main-container" layout="column">

  <md-toolbar>
    <div class="logo">
      <h1>Bloc Chat</h1>
    </div>
  </md-toolbar>

  <div class="container" layout="row" flex>

    <md-sidenav md-is-locked-open="true" class="md-whiteframe-4dp">
      <md-list>
        <md-list-item
          ng-repeat="room in home.chatRooms">
          <md-button class="md-raised md-primary"
            ng-click="home.setCurrentRoom(room);">
              {{ room.name }}
          </md-button>
        </md-list-item>
      </md-list>
    </md-sidenav>

    <md-content id="content" flex>
      <div class="messages-container">
        <h3>Messages</h3>
        <p ng-repeat="message in home.messages">
          {{ message.content }}
        </p>
      </div>
    </md-content>
  </div>

  <div class="new-chat-room">
    <input type="text" name="name" placeholder="New chat room" ng-model="home.name"></input>
    <button type="button" ng-click="home.addRoom()">Create Room</button>
  </div>

  <div class="new-message">
    <input type="text" name="name" placeholder="New message" ng-model="home.content"></input>
    <button type="button" ng-click="home.newMessage(home.currentRoom)">Add message</button>
  </div>

</div>
