<div class="main-container" layout="column">

  <md-toolbar>
    <div class="logo">
      <h1>Bloc Chat</h1>
    </div>
  </md-toolbar>


  <div class="container" layout="row" flex>

    <md-sidenav md-is-locked-open="true" class="md-whiteframe-4dp">
      <md-list>
        <md-list-item
          ng-repeat="room in home.chatRooms">
          <md-button class="md-raised md-primary"
            ng-click="home.setCurrentRoom(room);">
              {{ room.name }}
          </md-button>
        </md-list-item>
      </md-list>

      <md-input-container md-no-float class="md-block">
        <input type="text" name="name" placeholder="Name your chat room..." ng-model="home.name"></input>
        <md-button class="md-raised md-primary" ng-click="home.addRoom()">
          Create
        </md-button>
      </md-input-container>
    </md-sidenav>

    <md-content id="content" flex>
        <h3>Messages:</h3>
        <p ng-repeat="message in home.messages">
          {{ message.content }}
        </p>

        <div class="send-message" layout="column" flex>
          <md-input-container md-no-float class="md-block">
            <input type="text" placeholder="Type your message..." ng-model="home.content"></input>
            <md-button
              class="md-primary md-hue-1"
              ng-click="home.newMessage(home.currentRoom)">
                Send
                <i class="ion-ios-arrow-right"></i>
            </md-button>
          </md-input-container>
        </div>
    </md-content>
  </div>
  <footer></footer>
</div>
